/** @format */

@media (max-width: 575.98px) {
  .default-layout .right-container {
    padding: 10px;
  }
  .default-layout {
    flex-direction: column;
  }
  .default-layout .left-container {
    display: none;
  }
  .default-layout .nav-container {
    display: block;
  }
  .navbar .content .ham-menu{
    display: block;
  
  }
}

/* Small Devices (Tablets, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .default-layout {
    flex-direction: column;
  }
  .default-layout .left-container {
    display: none;
  }
  .navbar .content .ham-menu{
    display: block;
  
  }
}

/* Medium Devices (Desktops, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .default-layout {
    flex-direction: column;
  }
  .default-layout .left-container {
    display: none;
  }
  .navbar .content .ham-menu{
    display: block;
  
  }
}
